#Landing-Description {
    background-color: #313131;
}
#Landing-Description h1 {
    margin-top: 0;
    font-size: 48px;
    font-weight: 200;
    line-height: 60px;
}

#Landing-Description h2 {
    font-size: 21px;
    font-weight: 200;
    line-height: 38px;
    color: #B5B1B1;
}

#Cheatsheet-Table h1 {
    margin-top: 0;
    font-weight: 200;
    font-size: 1vw;
}

#Cheatsheet-Table p {
    margin: 0;
    font-size: 0.8vw;
}

#Cheatsheet-Table img {
    width: 5vw;
}

#Cheatsheet-Table table, th, td {
    border: 2px solid #333333;
    padding: 0;
}

#Cheatsheet-Table table{
    border-collapse: collapse;
    margin: 0 auto;
}

td.ColourOne {
    background-color: #0a5511;
}

td.ColourTwo {
    background-color: #54550a;
}

td.ColourThree {
    background-color: #590404;
}